# systemd service configuration file for seyos.

[Unit]
Description=Show others your OS with Discord Rich Presence
After=network.target

[Service]
ExecStart=/usr/bin/seyos

[Install]
Alias=seyos.service
